.form-section {
    background: #04081c;

}

.form-section .form-wrapper {
    border-radius: 5px 100px;
}

.form-section .form-wrapper h3 {
    color: #04081c;
}

.form-section .form-wrapper .form-label,
.form-section .form-wrapper p {
    color: #04081c;
}

.form-section a {
    /* color: #ce446f; */
    background: linear-gradient(to right, rgb(222, 16, 153),#01115c);
    padding: 10px;
    color: #fff;
    border-radius: 5px 25px;
}

.form-section .btn-primary {
    /* background-color: #04081c !important;
    border-color: #04081c !important; */
    background: linear-gradient(to right, rgb(222, 16, 153),#01115c);

    color: #fff !important;
}

.login-form-section {
    padding: 130px;
}